* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", serif;
}

/* section 1 */
.nav {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    padding: 8px 0px 60px 0px;
} 


.box2 {
    display: flex;
    gap: 16px;
    flex-shrink: 1px;
}

/* section 2 */

.hero-content {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 80px 0px;
    gap: 16px;
}

.box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 50px;
    flex-shrink: 1;
}

.box3 > h1, p {
    padding-bottom: 8px;
}

.box4 {
    margin-right: 95px;
}

button {
    padding: 4px 8px;
    width: 75px;
    background-color: #3882F6;
    color: #F9FAF8
}

#herobutton {
    border-radius: 4px;
    border: #3882F6;
}

#herobutton:hover {
    background-color: #F9FAF8;
    color: #3882F6;
}
/* section 3 */
.images-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 40px 0px;
}

.box4 {
    margin: 40px 0px 40px 0px;
}

.box5 {
    display: flex;
    gap: 32px;
    margin-bottom: 80px;
}

.infobox  {
    max-width: 135px;
    text-align: center;
}

.imgborder {
    border: 2px solid #3882f6;
    border-radius: 8px;
    padding: 20px 40px;
}

/* section 4 */

.quote-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 80px 0px;
    background-color: #e6e7eb;
    padding: 80px 0px 80px 0px;
}

.box6 {
    width: 800px;
    text-align: start;
}

.box7 {
    margin-left: 40%;
    flex-shrink: 0;
}

/* section 5 */


/* text styling */

h1 {
    font-size: 48px;
    color: #F8FAF8;
    font-weight: 900;
}

h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.hero2-link-text {
    font-size: 18px;
    color: #F9FAF8;
}

#infoheader {
    font-size: 36px;
    color: #1f2937;
}

#infoheader2 {
    font-size: 36px;
    color: #1f2937;
}

p {
    color: #1f2937;
}

#quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
}

#quoted {
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
}